/* global.css */

:root { /* Given by the Graphics Designers*/
  --font-default: 'Canva Sans', sans-serif;
  --font-heading-primary: 'League Spartan', sans-serif;
  --font-heading-fancy: 'Luxurious Script', cursive;

  --color-primary: #810302;
  --color-secomdary: #FFFFFF;
  --color-accent: #480e08;

  /* need to add spacing sizes (like spacing-xs: 4)*/
  /* also need to add a border radius */
}

/* Global Reset */
* {
  font-family: var(--font-default);
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

h1, h2, h3 {
  font-family: var(--font-heading-primary);
  /*color: var(--color-primary);
  background-color: var(--color-secondary);*/
}

h1.fancy {
  font-family: var(--font-heading-secondary);
}

button {
  cursor: pointer;
  background-color: var(color-primary);
  color: var(--color-secondary);
  border: none;
}

button:hover {
  background-color: var(--color-accent);
}
