/* Home.module.css - Custom styles for Homepage */
/* Imported from index.css, converted to module.css to be local*/
/* Module css can't use - easily, only _*/

body{
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6; 
}


.main-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.folder-tab{
    background-color: #7b0000;
    border: 2px solid #b81007ec;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    border-radius: 2rem;
    position: relative;
    padding: 20px;
    color: #f0f0f0;
    overflow: hidden;
    clip-path: polygon(0 30px, 20px 0, 900px 0, 920px 40px, 100% 40px, 100% 100%, 0 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 10rem;
}

.folder-tab {
  height: 500px; 
  padding: 40px 20px;
  margin-bottom: 4rem;
  margin-bottom: 4rem;
}

.folder-tab.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

/* main section */

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 70vh;   
    background-color: 141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    margin-bottom: 6rem;

}

.main__content h1{
    font-size: 3rem;
    background-color: #f0f0f0;
    background-size: auto 100%;
    background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
    
}
.main__content h2{
    font-size: 2rem;
    background-color: #f0f0f0;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    background-size: auto 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content p{
    font-size: 2rem;
    margin-top: 1rem;
    color: #f0f0f0;
     margin-bottom: 3rem;
}

.main__btn{
    font-size: 1rem;
    background-image: linear-gradient( to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;

}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;  
}

.main__btn:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4837ff;
    border-radius: 4px;
    z-index: -1;
    transition: all 0.35s;
}

.main__btn:hover:after{
    color: #f0f0f0;
}

main__btn:hover:after{
    width: 100%;
}

.main__img--container{
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100px;
    
}

#main__img{
    width: 65%;
    height: 65%;
}
.main__img--container:hover #main__img{
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    left:500px;
}


/* Image slider styles */
.slider {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.slide {
  display: none;
  width: 100%;
  height: auto;
  max-height: 380px; 
  
}

.slide.active {
  display: block;
}


.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #f77062; 
}

@media (max-width: 960px) {
  .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    height: auto;
    margin-bottom: 3rem;
    text-align: center;
  }

  .main__content h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .main__content h2 {
    font-size: 1rem;
  }

  .main__content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .main__btn {
    padding: 10px 20px;
    font-size: 0.95rem;
  }

  .main__img--container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .slider {
    max-width: 100%;
    border: none; 
  }

  .slide {
    width: 100%;
    height: auto;
    display: none;
  }

  .slide.active {
    display: block;
  }

  .slider-dots {
    margin-top: 1rem;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}




/*Services Section*/

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
    margin-bottom: 6rem;
}
.services h1{
    background-color: #7b0000;
    background-size: auto 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 3rem;
    
}

.services h1::after {
  content: "";
  display: block;
  width: 180px;
  height: 3px;
  background-color: #7b0000;
  margin: 5px auto 0 auto;
  margin-bottom: 1rem;
}

.services__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(17, 17, 17, 0.6) 100%), url('assets/monaTimes.png');
    width: 400px;
    height: 525px;
    margin: 1rem;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #f0f0f0;
}

.services__card:nth-child(2){
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(17, 17, 17, 0.6) 100%), url('assets/monaTimes.png');

}

.services h2{
    top: 350px;
    position: absolute;
    left: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: #f0f0f0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #f0f0f0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.services__card button{
    position: absolute;
    top: 450px;
    left: 30px;
    background-color: #ff0844;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
}

.services__card img {
  width: 100%;
  height: 300px; /* Or use 'auto' if you want proportional height */
  object-fit: cover; /* Makes the image fill the area without distortion */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 960px) {
   .services{
    height: 1600px;
   }

   .services h1{
    font-size: 2rem;
    margin-bottom: 12rem;
   }
   
}
@media screen and (max-width: 480px) {
    .services{
    height: 1400px;
   }

   .services h1{
    font-size: 1.5rem; 
   }

   .services__card{
    width: 300px;
   }
    
}


/* Update Section */
.update {
  background-color: #f0f0f0;
  padding: 40px 20px;
  text-align: center;
  color: white;
  
}

.update-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: rgb(130, 5, 5);
}

.update-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  
}

.card {
  position: relative;
  width: 320px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  transition: all 0.3s ease;
}

.card:hover{
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.overlay h3 {
  font-size: 2rem;
  font-weight: 900;
}

.update-bottom-wave {
  margin-top: -300px;
  
}

.wave-svg {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.red-section {
  background-color: #7b0000;
  height: 200px;
  width: 1300px;
  margin-top: -5px; 
}


@media screen and (max-width: 960px) {
   .update{
    height: 1600px;
   }

   .update-title{
    font-size: 2rem;
    margin-bottom: 5rem;
   }

   .update-bottom-wave {
  margin-top: -1400px;
  
}

   

   
    
}
@media screen and (max-width: 480px) {
  .update{
    height: 1000px;
   }

  .update-title{
    font-size: 1.2rem;
   
   }

  .update__card{
    width: 300px;
   }


  .wave-svg {
    display: block;
    width: 100%;
    height: 95px;
    margin: 0;
    padding: 0;
    line-height: 0;
  }

    
}


