/* Update.module.scss - Custom styles for updates section of Homepage */
/* Imported from index.scss, converted to module.scss to be local*/
/* Module scss can't use - easily, only _ . Use camelCase*/

@use '../../styles/styles.scss' as *;

/* Update Section */
.section {
  padding: 40px 20px;
  text-align: center;
}

.title {
  background-color: var(--color-secondary);
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem 0px;
  color: var(--color-primary);
}

.cardContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 320px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  outline: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;

  font-size: 2rem;
  font-weight: 900;
  
  transition: all 0.3s ease, background 0s;

  * {
    color: white;
    text-shadow: 0 0 20px var(--default-red), 0 0 4px black;  // Black is for accessibility with reading
  }
}

.card:hover{
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (max-width: $md-bp-width) {
  .title{
    font-size: 2rem;
  }
}
@media screen and (max-width: $sm-bp-width) {
  .title{
    font-size: 1.2rem;
   }

  .card{
    width: 300px;
   }
}