/* index.css - Global default styles*/

/* All style variables are declared in styles.css
 * This file simply sets the global defaults using the 
 * styles declared in the styles.css file */

@import './styles/styles.css';
@import "tailwindcss";

/* Global Reset */
* {
  font-family: var(--font-default);
  color: var(--color-primary);
  background-color: inherit;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  /* scrollbar-width: none; */ 
  /* Commented out for later discussion */
}

h1, h2, h3 {
  font-family: var(--font-heading-primary);
}

h1.fancy {
  font-family: var(--font-heading-secondary);
}

button {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

button:hover {
  background-color: var(--color-secondary);
  color: var(--dark-red-accent);
}