/* index.css */
@import "tailwindcss";
@import './styles/styles.css';

/* Global Reset */
* {
  font-family: var(--font-default);
  color: var(--color-primary);
  background-color: inherit;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--font-heading-primary);
}

h1.fancy {
  font-family: var(--font-heading-secondary);
}

button {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

button:hover {
    background-color: var(--color-secondary);
    color: var(--dark-red-accent);
}
